:root{
    --bg1 :#9b59b6;
    --bg2 :#3498db;
    --bg3 :#D7E1EC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*display {
    display: flex;
    align-items: center;
    background: url('../Tuoi.cv/bgr.jpeg');
    background-size: cover;
    background-position-y: -80px;
}*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../Tuoi.cv/cd.gif');
    background-size: cover;
    background-position-y: -80px;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
/*.container{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    background: linear-gradient(var(--bg1),var(--bg2));
}*/
.container{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(var(--bg1),var(--bg2));
    transition: 0.2s;
    overflow: hidden;
    position: relative;
}
.container:hover{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    background: linear-gradient(var(--bg1),var(--bg2));
}
.container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid#fff;
    margin: 20px auto;
    cursor: pointer;
    
    transition: 0.2s;
}
.container img:hover{
    width: 350px;
    height: 450px;
    margin: 0;
    border: 3px solid#fff;
    border-radius: 10px;
}
/*.container img{
    width: 350px;
    height: 450px;
    margin: 0;
    border: 3px solid#fff;
    border-radius: 10px;
}*/
.container h2 {
    color: #fff;
}
.container p {
    color: #fff;
    margin: 0 30px 12px;

}
.btn-container button {
    height: 35px;
    width: 150px;
    border: none;
    margin-right: 12px;
    border-radius: 5px;
    columns: #333333;
    cursor: pointer;
}
.icon-social {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateX(-60px);
    opacity: 0;
    transition: 0.2s;
    top: 12px;
}
.container:hover .icon-social {
    transform: translateX(0px);
    opacity: 1;
}
.icon-social i {
    padding: 12px;
    color: var(--bg1);
    background: #FFF;
    border-radius: 50%;
    margin: 5px 0 0 12px;
}
